:root {
  --pink: #e84393;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6px;
}

section {
  padding: 2rem 9%;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover {
  background: var(--pink);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .logo {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}
header .logo span {
  color: var(--pink);
}
header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
}
header .navbar a:hover {
  color: var(--pink);
}
header #toggler {
  display: none;
}
header .fas-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
}
.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url("flower.jpg");
  background-size: cover;
  background-position: center;
}
.home .content {
  max-width: 50rem;
}
.home .content h3 {
  font-size: 6rem;
  color: #333;
}
.home .content span {
  font-size: 3.5rem;
  color: #e84393;
  padding: 1rem 0;
  line-height: 1.5;
}
.home .content p {
  font-size: 1.5rem;
  color: #000000;
  padding: 1rem 0;
  line-height: 1.5;
}

/* media queries*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
  .home {
    background-position: left;
  }
}
@media (max-width: 768px) {
  header.fa-bars {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    z-index: 10000;
    background-color: rgba(238, 228, 228, 0.473);
    /* box-shadow: -10px 0 10px rgba(255, 255, 255, 0.322); */
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .sidebar li {
    list-style-type: none;
    height: 50px;
  }
  .sidebar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .sidebar img {
    padding: 10px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
}
